#titulo-cv{
    font-size: 50px;
    font-style: bold;
    border-color: black;
}

#foto-cv{
    border-radius: 50%;
    border-style: dotted;
}

*{
    background-color: rgb(173, 196, 246);
}

#contato {
    padding-top: 11px;
}
#objetivo {
    padding-top: 11px;
}
#formacao {
    padding-top: 11px;
}
#experiencia {
    padding-top: 11px;
}

hr{
    color: rgb(255, 255, 255);
    border-color: rgb(159, 155, 155);
}

a{
    font-style: none;
}

nav a {
    padding: 20px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

nav a:hover {
    background-color: rgb(76, 75, 75);
}

